* {
  margin: 0;
}

.section h1 {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-weight: 700;
  left: 50%;
  padding: 5px;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.containerImg {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imgRecipe {
  width: 50%;
}

.category {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(252, 196, 54);
  font-weight: 500;
  left: 35%;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section h2 {
  margin: 10px;
  margin-left: 25%;
  margin-top: 40px;
}

.container {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-left: 25%;
  padding: 5px;
  width: 50%;
}

/* Definimos o contêiner .carousel com overflow-x: auto para permitir o scroll
horizontal. Em seguida, usamos scroll-snap-type: x mandatory para criar os 
pontos de ancoragem para cada item do carrossel.

No .carousel-inner, definimos display: flex para criar um layout flexível
e scroll-snap-type: x mandatory para garantir que os itens sejam ancorados 
corretamente.

Nos .carousel-item, usamos scroll-snap-align: start para alinhar cada item
ao início do carrossel e flex: 0 0 calc(100% / 2) para mostrar apenas dois
itens por vez. Você pode ajustar calc(100% / 2) para alterar o número de
itens visíveis. */

.carousel {
  margin-bottom: 20px;
  margin-left: 25%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 50%;
}

.carousel img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 180px;
}

.carousel p {
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  width: 180px;
}

.carousel_inner {
  display: flex;
  scroll-snap-type: x mandatory;
}

.carousel_item {
  display: flex;
  flex: 0 0 calc(100% / 2); /* Mostra apenas 2 itens por vez */
  flex-direction: column;
  scroll-snap-align: start;

  /* width: calc(100% / 2); */
}

@media screen and ( max-width : 360px ) {

  .imgRecipe {
    width: 100%;
  }

  .container {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: 18px;
    padding: 5px;
    width: 90%;
  }

  .section h2 {
    margin: 10px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .category {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(252, 196, 54);
    font-weight: 500;
    left: 20%;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel {
    margin-bottom: 20px;
    margin-left: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  .carousel img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 180px;
  }

  .carousel p {
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    width: 180px;
  }

  .carousel_inner {
    display: flex;
    scroll-snap-type: x mandatory;
  }

  .carousel_item {
    display: flex;
    flex: 0 0 calc(100% / 2); /* Mostra apenas 2 itens por vez */
    flex-direction: column;
    scroll-snap-align: start;

    /* width: calc(100% / 2); */
  }
}
