.section {
  background-color: #41197F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.inputEnter {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 40px;
  padding-left: 20px;
  width: 338px;
}

.inputEnter:focus {
  outline: none;
}

.containerRadios {
  background-color: #41197F;

}

.containerRadios label {
  color: white;
  background-color: #41197F;
  margin: 10px;
}

.containerRadios input {
  margin: 5px;
}

.section button {
  background: rgb(252, 196, 54);
  border: none;
  border-radius: 5px;
  color: #f5f5f5;
  font-weight: 700;
  height: 40px;
  margin: 10px;
  text-transform: uppercase;
  width: 276px;
}